@charset "utf-8";

* {margin: 0;
    padding: 0;
    box-sizing: border-box;}

body {
    font-family: "맑은 고딕", "malgun gothic", sans-serif;
}

ul, li {
    list-style: none;
}





header {
    width: 1200px;
    height: 100px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    /* 가운데 빈 공간 확인용 */
    background: #f5f3df;
}

header .logo {
    width: 200px;
    height: 100px;
    background: #666000;
}

header nav {
    width: 600px;
    height: 100px;
    background: #456789;
}



.slide {
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    background: #b51b5b;
}



.contents {
    width: 1200px;
    height: 200px;
    margin: 0 auto;

    display: flex;
}

.contents .notice {
    width: 400px;
    height: 200px;
    background: green;
}

.contents .banner {
    width: 400px;
    height: 200px;
    background: rgb(122, 89, 125);
}

.contents .go {
    width: 400px;
    height: 200px;
    background: #463245
}



footer {
    width: 1200px;
    height: 100px;
    margin: 0 auto;

    display: flex;
}

.footer-logo {
    width: 200px;
    height: 100px;
    background: rgb(90, 20, 96);
}

.footer-right {
    width: 1000px;
    height: 100px;
}

.footer-menu {
    width: 1000px;
    height: 50px;
    background: #789456;
}

.copyright {
    width: 1000px;
    height: 50px;
    background: #123456;
}