@charset "utf-8";

/* 기본값 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: #ffffff;
}


/* =========================
   QUICK MENU
========================= */

.quick-menu {
    width: 100%;
    margin-top: 160px;
}

.quick-menu .inner {
    width: 1180px;
    height: 160px;
    margin: 0 auto;

    display: flex;
}


/* 각각의 메뉴 */

.quick-item {
    position: relative;

    width: calc(1180px / 3);
    height: 160px;

    color: #ffffff;

    background-repeat: no-repeat;
}


/* 01. RESERVE */

.reserve {
    background-color: #907354;

    background-image: url("../images/speed_menu_icon_02.png");
    background-position: 220px center;
    background-size: 72px auto;
}


/* 02. SAVE POINT */

.point {
    background-color: #434343;

    background-image: url("../images/speed_menu_icon_03.png");
    background-position: 220px center;
    background-size: 72px auto;
}


/* 03. DELIVERY */

.delivery {
    background-color: #c30606;

    background-image: url("../images/speed_menu_icon_04.png");
    background-position: 220px center;
    background-size: 105px auto;
}


/* =========================
   TEXT
========================= */

.quick-text {
    padding: 28px 0 0 30px;
}

.quick-text h2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}

.quick-text p {
    margin-top: 7px;

    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
}


/* 화살표 */

.arrow {
    display: block;

    margin-top: 38px;

    font-size: 26px;
    font-weight: 300;
    line-height: 1;
}